@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: poppins;
    /* border: 1px solid; */
}

/* .image-2 {
    width: 200px;
} */

.container {
    /* display: grid;
    grid-template-columns: 600px 2fr; */
    display: flex;
    flex-direction: row;
    max-width: 1600px;
    box-shadow: 0px 10px 14px -7px #505050;
    margin: auto;
    height: 100vh;
}

/* START Of Left side part */
.left-part-image {
    width: 100%;
    height: 100vh;
}

.company-logo {
    position: relative;
    width: 100px;
    top: 70px;
    right: 28vw;
}
/* END of Left side part */

/* Start OF Right side section */
.right-part {
    display: grid;
    width: 100%;
    /* border: solid; */
}

.top-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top-nav-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: solid; */
    width: 500px;
    height: 75px;
    list-style: none;
    justify-content: flex-end;
    align-items: flex-end;
}
.line {
    display: block;
    border-bottom: 1px #505050 solid;
    width: 400px;
    height: 80px;
    margin-left: 20px;
}

.creativity-part {
    display: grid;
    grid-template-columns: 9fr 1fr;
    border: red solid;
    height: 300px;
}

.social-media-logo {
    display: grid;
}

.crea {
    position: relative;
    color: #ffff;
    font-size: 100px;
    font-family: Merriweather;
    font-weight: 700;
    text-shadow: 0 0 2px black;
    margin-left: 50px;
    margin-top: -10px;
}

.tivity {
    position: relative;
    font-size: 100px;
    font-family: Merriweather;
    font-weight: 700;
    margin-left: -700px;
    margin-top: 90px;
    color: #333333;
}

.ingredient {
    position: relative;
    font-size: 20px;
    font-family: Merriweather;
    font-weight: 700;
    margin-left: 520px;
    margin-top: -130px;
    color: #333333;
}

.social-media-logo {
    position: relative;
    /* border: solid; */
    height: 200px;
    align-items: center;
    justify-items: center;
    top: -230px;
}

/* .button-check-package{
    border: solid;
} */

.check-package {
    height: 60px;
    width: 250px;
    background-color: #333333;
    color: #ffff;
    /* margin-left: auto;
    margin-right: 0%; */
    float: right;
    margin-right: 30px;
    font-size: 15px;
    font-weight: 400px;
    margin-bottom: 50px;
}

.bottom-part {
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr;
}

.section-links {
    line-height: 3.5em;
    /* border: solid; */
    height: 290px;
    padding-left: 80px;
    padding-top: 50px;
    font-size: 18px;
    text-indent: 2em;
    color: #888888;
}

.section-link:hover {
    color: black;
    font-weight: 500;
}
.link-line {
    position: relative;
    display: block;
    border-left: 1px black solid;
    height: 284px;
    width: 5px;
    top: -280px;
    left: -16px;
}

#quote {
    font-size: 40px;
    margin-top: 80px;
}

.image-2 > h2 {
    font-size: 15px;
    font-family: poppins;
    font-weight: 500;
    /* border: red solid; */
    width: 350px;
}

.image-2 {
    width: 400px;
    height: 195px;
    object-fit: cover;
}

.arrow {
    position: relative;
    width: 40px;
    height: 140px;
    top: 200px;
    left: 30px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: auto;
    }

    .company-logo {
        position: fixed;
        width: 100px;
        right: 75vw;
        top: 2em;
    }
    .left-part-image {
        width: 100%;
        height: auto;
    }
    .top-menu {
        display: none;
    }
    .social-media-logo {
        display: none;
    }
    .creativity-part {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .crea {
        position: relative;
        color: #ffff;
        font-size: 5em;
        font-family: Merriweather;
        font-weight: 700;
        text-shadow: 0 0 2px black;
        margin: 0;
                /* margin-left: -.4em; */
        margin-top: -130px;
    }

    .tivity {
        position: relative;
        /* font-size: 100px; */
        font-family: Merriweather;
        font-weight: 700;
        margin: 0;
        padding-left: 2rem;

        /* margin-left: 2em;
        margin-top: -0.5em; */
        color: #333333;
        border: solid blue;
        z-index: 3;
    }

    .ingredient {
        position: relative;
        font-size: 20px;
        font-family: Merriweather;
        font-weight: 700;
        margin: 0;
        /* margin-left: 20em;
        margin-top: -2em; */
        color: #333333;
    }

    .check-package {
        height: 5em;
        width: 20em;
        background-color: #333333;
        color: #ffff;
        font-size: 15px;
        font-weight: 400px;
        margin-bottom: 50px;
        margin: 0;
    }
    .button-check-package {
        justify-self: center;
    }

    .bottom-part{
        border: red solid;
        grid-template-columns: 1fr;
    }
    .down-arrow {
        display: none;
    }
    .section-links {
        /* display: none; */
    }
}
