@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: poppins;
    /* border: 1px solid; */
}

.container {
    /* display: grid;
    grid-template-columns: 600px 2fr; */
    display: flex;
    flex-direction: row;
    max-width: 1600px;
    box-shadow: 0px 10px 14px -7px #505050;
    margin: auto;
    height: auto;
    /* height: 100vh; */
}

/* START Of Left side part */
.left-part {
    width: 800px;
    /* display: block; */
    /* object-fit: contain; */
}
.left-part-image {
    /* width: 100%; */
    /* height: 90vh; */
    width: 100%;
    height: 100%;
}

.company-logo {
    position: relative;
    width: 100px;
    top: 70px;
    right: 24vw;
}
/* END of Left side part */

/* Start OF Right side section */
.right-part {
    display: flex;
    flex-direction: column;
    /* display: grid; */
    /* width: 100%; */
    /* border: solid; */
}
/* Navigation part */

.top-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top-nav-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: solid; */
    width: 500px;
    height: 75px;
    list-style: none;
    justify-content: flex-end;
    align-items: flex-end;
}
.line {
    display: block;
    border-bottom: 1px #505050 solid;
    width: 400px;
    height: 80px;
    margin-left: 20px;
}

/* Left section start here */
.creativity-part {
    /* display: grid; */
    /* width: 100%; */
    /* grid-template-columns: 9fr 1fr; */
    display: flex;

    flex-direction: row;
    /* border: red solid; */
    /* height: 300px; */
}

.ingredient-part {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-left: auto;
}
.social-media-logo {
    margin-left: auto;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    flex-basis: fit-conte;
}

.crea {
    position: relative;
    color: #ffff;
    font-size: 100px;
    font-family: Merriweather;
    font-weight: 700;
    text-shadow: 0 0 2px black;
    margin-left: 50px;
    margin-top: -10px;
}

.tivity {
    position: relative;
    font-size: 100px;
    font-family: Merriweather;
    font-weight: 700;
    margin-left: 2em;
    margin-top: -90px;
    color: #333333;
}

.ingredient {
    position: relative;
    font-size: 20px;
    font-family: Merriweather;
    font-weight: 700;
    /* margin-left: 520px; */
    margin-top: 9em;
    color: #333333;
}

.social-media-logo {
    position: relative;
    /* border: solid; */
    height: 200px;
    align-items: center;
    justify-items: center;
    /* top: -230px; */
}

/* .button-check-package{
    border: solid;
} */

.check-package {
    height: 4em;
    width: 18em;
    background-color: #333333;
    color: #ffff;
    /* margin-left: auto;
    margin-right: 0%; */
    /* float: right; */
    margin-right: -330px;
    font-size: 1em;
    font-weight: 400px;
    /* margin-bottom: 50px; */
}

.bottom-part {
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr;
    width: 100%;
}

.section-links {
    display: grid;
    grid-template-columns: 1fr;
    /* line-height: 3.5em; */
    /* border: solid; */
    height: 6em;
    padding-left: 3em;
    padding-top: 70px;
    font-size: 18px;
    text-indent: 2em;
    color: #888888;
    list-style: none;
    height: 15em;
}

.section-link:hover {
    color: black;
    font-weight: 500;
}
.link-line {
    /* border: red solid; */
    position: absolute;
    display: block;
    border-left: 1px #888888 solid;
    height: 320px;
    width: 5px;
    top: 592px;
    left: 1253px;
    z-index: -1;
}

#quote {
    font-size: 40px;
    margin-top: 80px;
}

.image-2 > h2 {
    font-size: 15px;
    font-family: poppins;
    font-weight: 500;
    /* border: red solid; */
    width: 350px;
}

.image-2 {
    width: 400px;
    height: 195px;
    object-fit: cover;
}

.arrow {
    position: relative;
    width: 40px;
    height: 140px;
    top: 200px;
    left: 30px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        /* margin: auto; */
        height: auto;
    }

    .company-logo {
        /* position: fixed; */
        /* border: red solid; */
        margin-left: 22em;
        /* width: 2vw; */
        right: 155vw;
        top: -19em;
    }
    .company-logo-image{
        width: 60%;
    }
    .left-part-image {
        width: 100vw;
        /* height: auto; */
    }
    .left-part {
        width: 100vw;
    }
    .top-menu {
        display: none;
    }
    .social-media-logo {
        display: none;
    }
    .creativity-part {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .crea {
        position: relative;
        color: #ffff;
        font-size: 15vw;
        font-family: Merriweather;
        font-weight: 700;
        text-shadow: 0 0 2px black;
        margin: 0;
        margin-left: 1em;
        /* margin-top: -130px; */
    }

    .tivity {
        position: relative;
        /* font-size: 100px; */
        font-family: Merriweather;
        font-weight: 700;
        margin: 0;
        padding-left: 12rem;
        font-size: 15vw;
        /* margin-right: 31px; */
        /* margin-top: -0.5em; */
        color: #333333;
        /* border: solid blue; */
        z-index: 3;
    }

    .ingredient {
        position: relative;
        font-size: 20px;
        font-family: Merriweather;
        font-weight: 700;
        margin: 0;
        padding-bottom: 20px;
        color: #333333;
    }

    .check-package {
        height: 4em;
        width: 50vw;
        background-color: #333333;
        color: #ffff;
        font-size: 1em;
        font-weight: 200px;
        margin-bottom: 50px;
        margin: 0;        
    }
    .button-check-package {
        justify-self: center;        
    }

    .bottom-part {
        /* border: red solid; */
        grid-template-columns: 1fr;
        /* justify-content: center; */
        justify-items: center;
        row-gap: 10em;
    }
    .down-arrow {
        display: none;
    }
    .section-links {
        /* display: none; */
        position: relative;
        margin-top: 3em;
        font-size: 12px;
        left: -40px;
        line-height: 3em;
    }
    .image-2 {
        order: -1;
        width: 100vw;
    }
    .image-2 > h2 {
        font-size: 1em;
        font-family: poppins;
        font-weight: 500;
        /* border: red solid; */
        width: 15em;
        padding-left: 40px;
    }
    #quote{
        padding-left: 20px;
    }
    .link-line {
        position: relative;
        display: block;
        border-left: 1px black solid;
        height: 204px;
        width: 5px;
        top: -190px;
        left: 53px;        
    }
}
